.btn-create {
  margin: 16px;
  width: 120px;
  height: 90px;
  display: flex;
  flex-direction: column;
  font-size: 16px;
}
.pdb-indicator {
  &-index {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
  }
  &-title {
    height: 40px;
    padding: 8px;
    border-bottom: solid 1px var(--border-color2);
    box-shadow: 0 2px 3px fade(#000, 5%);
  }
  &-back {
    margin-right: 4px;
  }
  &-simple {
    height: calc(100% - 40px);
    &-body {
      padding: 8px 24px;
      height: calc(100% - 64px);
      overflow: auto;
    }
    &-footer {
      display: flex;
      justify-content: space-between;
      padding: 16px 24px;
      position: relative;
      z-index: 3;
      box-shadow: 0 -2px 3px fade(#000, 5%);
    }
    .attr-type-icon {
      opacity: .45;
    }
  }
  &-flex {
    .pdb-ant-form-item {
      width: 50%;
    }
  }
}