.btn-create {
  margin: 16px;
  width: 120px;
  height: 90px;
  display: flex;
  flex-direction: column;
  font-size: 16px;
}
.pdb-indicator {
  height: 100%;
  padding: 24px 24px 0 24px;
  background-color: #F4F6F9;
  &-index {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
  }
  &-title {
    height: 40px;
    padding: 8px;
    border-bottom: solid 1px var(--border-color2);
    box-shadow: 0 2px 3px fade(#000, 5%);
  }
  &-back {
    margin-right: 4px;
  }
  &-simple {
    height: calc(100% - 40px);
    &-body {
      padding: 8px 24px;
      height: calc(100% - 64px);
      overflow: auto;
      
      .pdb-ant-btn-primary[disabled], 
      .pdb-ant-btn-primary[disabled]:hover, 
      .pdb-ant-select-disabled.pdb-ant-select:not(.pdb-ant-select-customize-input) .pdb-ant-select-selector,
      .pdb-ant-select-disabled.pdb-ant-select-multiple .pdb-ant-select-selection-overflow .pdb-ant-select-selection-item,
      .pdb-ant-input-disabled {
        color: var(--text-color1)!important;
      }
    }
    &-footer {
      display: flex;
      justify-content: space-between;
      padding: 16px 24px;
      position: relative;
      z-index: 3;
      box-shadow: 0 -2px 3px fade(#000, 5%);
    }
    .attr-type-icon {
      opacity: .45;
    }
  }
  &-flex {
    .pdb-ant-form-item {
      width: 50%;
    }
  }
  &-result {
    display: flex;
    align-items: flex-end;
    margin-top: 16px;
    margin-bottom: 24px;
    >.result {
      margin: 0;
      font-size: 36px;
      line-height: 1;
      color: var(--text-color1);
    }
    >.unit {
      margin-left: 4px;
      color: var(--text-color3);
    }
    &-header {
      .title {
        margin-top: 0;
        color: var(--text-color1);
      }
    }
    &-column {
      display: flex;
      flex-direction: column;
      margin-right: 8px;
      padding: 8px;
      border-radius: 2px;
      border: solid 1px var(--border-color2);
      background-color: #F4F6F9;
      .tag {
        display: block;
        margin-bottom: 4px;
        font-size: 80%;
        color: var(--text-color3);
        white-space: nowrap;
      }
      .name {
        display: block;
        color: var(--text-color1);
        white-space: nowrap;
      }
    }
    &-filter {
      padding: 8px;
      background-color: #F4F6F9;
    }
  }
  &-columns {
    display: flex;
    flex-wrap: wrap;
    margin: -8px -20px -8px -16px;
    width: 480px;
    max-height: 132px;
    overflow: auto;
    .pdb-indicator-result-column {
      margin-bottom: 8px;
      width: calc(20% - 2px);
    }
  }
  &-conditions {
    display: flex;
    flex-wrap: wrap;
    margin: -8px -20px -16px -16px;
    width: 320px;
    max-height: 132px;
    overflow: auto;
    >.pdb-ant-tag {
      margin-bottom: 8px;
    }
  }
}