.pdb-llm-output {
  position: absolute;
  left: 30vw;
  top: 22vh;
  z-index: 9;
  width: 40vw;
  border: solid 1px var(--border-color1);
  border-radius: 3px;
  background-color: var(--fill-color4);
  box-shadow: var(--box-shadow);
  &-header {
    display: flex;
    justify-content: flex-end;
    cursor: move;
  }
  &-btn {
    display: block;
    width: 36px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: var(--icon-color2);
    cursor: pointer;
    translate: all .4s linear;
    &:hover {
      background-color: var(--fill-color3);
    }
  }
  &-body {
    margin: 0 4px 4px;
    padding: 0 12px;
    border: solid 1px var(--border-color2);
    background-color: var(--component-bg);
    translate: all 1s ease;
    height: 100%;
    overflow: auto;
    &.fade-in-up {
      height: 70vh;
      transform: scaleY(1);
    }
    &.fade-out-down {
      height: 0;
      transform: scaleY(0.001);
    }
    > p {
      font-size: 14px;
      color: var(--text-color2);
    }
  }
}