.pdb-type-version {
  position: absolute;
  top: 24px;
  left: 24px;
  right: 24px;
  height: 32px;
}
.pdb-diff-version {
  position: absolute;
  top: 72px;
  left: 24px;
  right: 24px;
  height: calc(100% - 72px - 24px);
  padding: 24px 24px 48px;
  border-radius: 4px;
  background-color: var(--component-bg);
  &-time {
    margin-top: 4px;
    font-size: 12px;
  }
  &-title {
    margin: 16px 0 12px;
    display: flex;
    align-items: center;

    &::before {
      content: '';
      display: inline-block;
      width: 4px;
      height: 12px;
      margin-top: 2px;
      margin-right: 8px;
      background-color: var(--primary-color);
    }
  }
  .pdb-diff-foot {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 12px;
  }
}

.pdb-diff-title-small {
  // font-size: 12px;
  font-weight: normal;
}
.pdb-diff {
  &-new {
    display: block;
    background-color: #E8FFEA;
  }
  &-del {
    display: block;
    background-color: #FFECE8;
    text-decoration: line-through;
  }
  &-mod {
    display: block;
    background-color: #FFFBE6;
  }
  &-tag {
    margin: 0 12px;
    display: flex;
    align-items: center;
    &::before {
      content: '';
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: 8px;
      border-width: 1px;
      border-style: solid;
    }
    &-new::before {
      background-color: #E8FFEA;
      border-color: #AFF0B5;
    }
    &-modify::before {
      background-color: #FFFBE6;
      border-color: #FFF1B8;
    }
    &-deleted::before {
      background-color: #FFECE8;
      border-color: #FDCDC5;
    }
  }
}

.pdb-diff-metadata {
  display: flex;
  border-right: 1px solid var(--border-default);
  &-head {
    flex: 0 0 150px;
    background-color: var(--fill-color4);
    border-top: 1px solid var(--border-default);
    border-left: 1px solid var(--border-default);
  }
  &-body {
    flex: 1 1 150px;
    border-top: 1px solid var(--border-default);
    border-left: 1px solid var(--border-default);
  }
  .cell {
    border-bottom: 1px solid var(--border-default);
    color: var(--text-color1);
    padding: 8px 16px;
    height: 40px;
    .divider {
      border-inline-start-color: var(--border-default);
    }
  }
  .pdb-node-metadata {
    display: flex;
    align-items: center;
    margin-left: -4px;
    &.modified {
      background-color: #FFFBE6;
    }
    &-item {
      width: 2.4rem;
      height: 2.4rem;
      border-radius: 2px;
      border: 1px solid var(--border-color1);
      margin: 0 .4rem;
      cursor: pointer;
      color: var(--text-color2);

      &.node-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 2.4rem;
        text-align: center;

        .no-icon {
          color: var(--text-color4);
        }
      }

      &.fill-color,
      &.border-color {
        padding: .4rem;
      }

      &.active,
      &.pdb-ant-popover-open {
        box-shadow: 0px 0px 0px 2px rgba(0, 132, 255, 0.15);
        border: 1px solid var(--primary-hover);
      }
    }
  }
}