.pdb-search-indicator {
  margin: 16px  16px 0 16px;
}

.indicator-tag {
  margin-left: 6px !important;
}

.indicator-item-selected {
  background-color: #E8F8FF;
}

.indicator-item-selected:hover {
  background-color: #E8F8FF !important;
}