.pdb-search-indicator {
  margin-top: 6px;
}

.indicator-tag {
  margin-left: 6px !important;
  margin-right: 0 !important;
}

.indicator-item-selected {
  background-color: #E8F8FF;
}

.indicator-item-selected:hover {
  background-color: #E8F8FF !important;
}

.list-container {
  height: 100%;
  display: flex;
  flex-direction: column;

  .list-header {
    padding: 1rem 1.6rem;
    display: flex;

    .operation-icon {
      margin-left: 1rem;
      color: var(--text-color3);
      font-size: 1.6rem;
      cursor: pointer;
      line-height: 3.2rem;
    }
  }

  .list-content {
    overflow: auto;
    flex: 1;

    .indicator-item {
      display: flex;
      justify-content: space-between;
      align-items: center;   
    }
    .type-item-label {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      text-wrap: nowrap;
      width: 0;
      min-width: 3rem;
    }
    .svg-icon {
      margin-right: 0.6rem;
      width: 16px;
      height: 16px;
      vertical-align: middle;
    }
  }

  .list-empty {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.check-info-drawer {
  .pdb-ant-form-item .pdb-ant-form-item-control-input-content {
    word-wrap: break-word;
    white-space: wrap;
  }
  &-footer {
    display: flex;
    justify-content: flex-end;

    .check-info-drawer-footer-btn {
      margin-left: 12px;
    }
  }
}