.pdb-indicator-codemode {
  .pdb-ant-card-head {
    font-weight: normal;
    background-color: var(--fill-color4);
  }
  .pdb-ant-card-body {
    padding: 4px;
  }
}

.code-wrap {
  height: 100px;
  padding: 8px;
  border: solid 1px transparent;
  &:focus {
    outline: none;
    border-color: var(--input-active-border-inner);
    // box-shadow: 0 0 0 3px var(--input-active-border-outer);
  }
  span {
    margin: 0 2px;
    padding: 0 4px;
    border-radius: 3px;
  }
  .indicator {
    background-color: var(--primary-selected-bg);
  }
  .symbol {
    background-color: rgba(166, 203, 71, 0.2);
  }
  .kuo {
    background-color: var(--fill-color3);
  }
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  max-height: 260px;
  overflow: auto;
  .svg-icon {
    width: 1.6rem;
    height: 1.6rem;
    vertical-align: middle;
    margin-right: 8px;
  }
  >li {
    margin: 4px 0;
    // &.item {
    //   .item-icon {      
    //     font-size: 1.8rem;
    //   }
    //   .item-label {      
    //     font-size: 1.6rem;
    //   }
    //   .svg-icon {
    //     width: 1.8rem;
    //     height: 1.8rem;
    //   }
    // }
  }
  .item {
    padding: 4px 1.2rem;
    border-radius: 3px;
    cursor: pointer;
    &:hover {
      background-color: var(--primary-selected-bg);
    }
    &.selected {
      cursor: default;
      // background-color: var(--primary-selected-bg);
      background-color: var(--disabled-bg);
    }    
    &-icon {
      margin-right: 8px;
      color: #265CFF;
    }
    &-label {
      color: var(--text-color1);
    }
    &-label2 {
      margin-left: 4px;
      font-size: 1.2rem;
      color: var(--text-color3);
      &::before {
        content: '/ ';
      }
    }
  }
  >li {
    vertical-align: middle;
  }
}