.pdb-indicator-save {
  &-loading {
    .pdb-ant-modal-content {
      padding: 9px 16px !important;
    }

    .pdb-ant-modal-confirm-btns {
      display: none;
    }

    .pdb-ant-modal-confirm-body-has-title {
      align-items: center !important;

      img {
        width: 20px;
        margin-right: 8px;
      }

      .pdb-ant-modal-confirm-paragraph {
        row-gap: unset;
      }
    }
  }

  &-success {
    .pdb-ant-modal-confirm-body>.anticon {
      color: #00B42A !important;
    }
  }

  &-confirm {
    &-footer {
      text-align: right;
      margin-top: 16px;
      .pdb-ant-btn {
        margin-left: 8px;
      }
    }
  }
}

.pdb-select-group-by {
  max-width: calc(100% - 22px);
}

.pdb-indicator-info {
  padding: 0.8rem 1.6rem;
  // height: calc(100% - 96px);

  .pdb-ant-form-item {
    margin-bottom: 1.2rem;
    line-height: 2rem;

    .pdb-ant-input[readOnly] {
      background: unset !important;
      padding: .4rem 0;
      font-size: 1.2rem;
      color: var(--text-color3) !important;
      text-overflow: ellipsis;

      &:focus {
        border: none;
        box-shadow: none !important;
      }
    }

    .pdb-ant-form-item-label{
      padding-bottom: 0.4rem;
      >label {
        font-size: 1.2rem;
        color: var(--text-color3);
        margin: 0;
        height: 2rem;
      }
    }
  }
  .pdb-ant-card-head-title {
    font-weight: normal;
  }
  .pdb-ant-card-body {
    padding: .4rem;
  }
}
.pdb-indicator-advColumns {
  max-height: calc(100vh - 50rem);
  // border-top: dashed 1px var(--border-color1);
  // border-bottom: dashed 1px var(--border-color1);
  overflow: auto;
  .pdb-ant-input-group-addon {
    min-width: 6.4rem;
  }
}
.pdb-indicator-advCol {
  margin: 0.8rem 0;
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
  background-color: var(--fill-color4);
  border: dashed 1px var(--border-color1);
  &-title {
    margin-bottom: 4px;
    font-size: 12px;
    font-weight: bold;
    word-wrap: none;
    text-overflow: ellipsis;
    overflow: hidden;
  }
   
  &-extra {
    margin-top: 8px;
  }
}